.profile__btn {
  width: 24px;
  min-height: 24px;
  cursor: pointer;
  transition: all .3s linear;
  grid-area: edit;
  align-self: center;
  margin-right: 10px;
}

.profile__btn:hover {
  opacity: 0.6;
}